.instanceChild {
    position: absolute;
    height: 98.39%;
    width: 98.09%;
    top: 0%;
    right: 1.91%;
    bottom: 1.61%;
    left: 0%;
    backdrop-filter: blur(1000000px);
    background-color: #000;
}
.about {
    position: absolute;
    width: 5.48%;
    top: 0%;
    left: 0%;
    display: inline-block;
    text-shadow: 4px 4px 4px #000;
    cursor: pointer;
}
.competitions {
    position: absolute;
    width: 12.04%;
    top: 0%;
    left: 8.19%;
    display: inline-block;
    text-shadow: 4px 4px 4px #000;
    cursor: pointer;
}
.events1 {
    position: absolute;
    width: 6.14%;
    top: 0%;
    left: 23.1%;
    color: #fbff00;
    display: inline-block;
    text-shadow: 4px 4px 4px #000;
    cursor: pointer;
}
.sponsors {
    position: absolute;
    width: 8.44%;
    top: 0%;
    left: 31.86%;
    display: inline-block;
    text-shadow: 4px 4px 4px #000;
    cursor: pointer;
}
.schedules {
    position: absolute;
    width: 9.42%;
    top: 0%;
    left: 42.42%;
    display: inline-block;
    text-shadow: 4px 4px 4px #000;
    cursor: pointer;
}
.team {
    position: absolute;
    width: 4.91%;
    top: 0%;
    left: 54.3%;
    display: inline-block;
    text-shadow: 4px 4px 4px #000;
    cursor: pointer;
}
.gallery {
    position: absolute;
    width: 6.55%;
    top: 0%;
    left: 62.08%;
    display: inline-block;
    text-shadow: 4px 4px 4px #000;
    cursor: pointer;
}
.brochure {
    position: absolute;
    width: 8.44%;
    top: 0%;
    left: 71.42%;
    display: inline-block;
    text-shadow: 4px 4px 4px #000;
}
.contact {
    position: absolute;
    width: 6.96%;
    top: 0%;
    left: 82.56%;
    display: inline-block;
    text-shadow: 4px 4px 4px #000;
    cursor: pointer;
}
.loginIn {
    position: absolute;
    width: 7.7%;
    top: 0%;
    left: 92.3%;
    color: #fbff00;
    display: inline-block;
    text-shadow: 4px 4px 4px #000;
}
.aboutParent {
    position: absolute;
    height: 9.68%;
    width: 78.18%;
    top: 78.23%;
    right: 11.86%;
    bottom: 12.1%;
    left: 9.95%;
}
.groupChild {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 83.33%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    border: 2px solid #4a4949;
    box-sizing: border-box;
}
.groupItem {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 66.67%;
    bottom: 0%;
    left: 16.67%;
    background-color: #fff;
    border: 2px solid #4a4949;
    box-sizing: border-box;
}
.groupInner {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 50%;
    bottom: 0%;
    left: 33.33%;
    background-color: #fff;
    border: 2px solid #4a4949;
    box-sizing: border-box;
}
.rectangleDiv {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 33.33%;
    bottom: 0%;
    left: 50%;
    background-color: #fff;
    border: 2px solid #4a4949;
    box-sizing: border-box;
}
.groupChild1 {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 83.33%;
    background-color: #fff;
    border: 2px solid #4a4949;
    box-sizing: border-box;
}
.groupChild2 {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 16.67%;
    bottom: 0%;
    left: 66.67%;
    background-color: #fff;
    border: 2px solid #4a4949;
    box-sizing: border-box;
}
.rectangleGroup {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 83.33%;
    bottom: 0%;
    left: 0%;
}
.rectangleContainer {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 66.67%;
    bottom: 0%;
    left: 16.67%;
}
.rectangleParent1 {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 50%;
    bottom: 0%;
    left: 33.33%;
}
.rectangleParent2 {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 33.33%;
    bottom: 0%;
    left: 50%;
}
.rectangleParent3 {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 16.67%;
    bottom: 0%;
    left: 66.67%;
}
.rectangleParent4 {
    position: absolute;
    height: 100%;
    width: 16.67%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 83.33%;
}
.groupParent1 {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 50%;
}
.groupContainer {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0%;
    right: 50%;
    bottom: 0%;
    left: 0%;
}
.groupParent {
    position: absolute;
    height: 4.84%;
    width: 100%;
    top: 63.31%;
    right: 0%;
    bottom: 31.85%;
    left: 0%;
}
.groupParent5 {
    position: absolute;
    height: 4.84%;
    width: 100%;
    top: 95.16%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.rectangleParent {
    position: absolute;
    top: -157px;
    left: -1px;
    width: 1728px;
    height: 248px;
}
.eventBorder1Child {
    position: absolute;
    height: 73.54%;
    width: 57.96%;
    top: 18.14%;
    right: 21.06%;
    bottom: 8.32%;
    left: 20.99%;
    background-color: rgba(0, 0, 0, 0.68);
}
.groupIcon {
    position: absolute;
    height: 58.18%;
    width: 52.27%;
    top: 24.61%;
    right: 23.86%;
    bottom: 17.21%;
    left: 23.86%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.groupIcon1 {
    position: absolute;
    height: 53.52%;
    width: 51.59%;
    top: 26.05%;
    right: 24.2%;
    bottom: 20.43%;
    left: 24.2%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.groupIcon2 {
    position: absolute;
    height: 98.88%;
    width: 88.87%;
    top: 0.56%;
    right: 5.56%;
    bottom: 0.56%;
    left: 5.57%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.event {
    position: absolute;
    top: calc(50% - 320px);
    left: calc(50% - 117px);
    display: inline-block;
    width: 235px;
    height: 59px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.92);
}
.eventBorder1 {
    position: absolute;
    top: calc(50% - 486px);
    left: calc(50% - 1549.5px);
    width: 3100px;
    height: 1016px;
    overflow: hidden;
    text-align: justify;
    font-size: 72px;
    color: #fbff00;
}
.events {
    width: 100%;
    position: relative;
    height: 1022px;
    overflow: hidden;
    text-align: left;
    font-size: 25px;
    color: #fff;
    font-family: 'Cyber Chunk Font';
}