.container {
    /* width: 20%;
    height: 200px; */
    background-color: rgba(173, 166, 166, 0.79);
    border-radius: 10px;
}

.inner-container {
    width: 15rem;
    display: flex;
    padding: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



img {
    width: 200px;
    aspect-ratio: 1/1;
}

p {
    margin: 0 0;
}