
@import url('https://fonts.googleapis.com/css2?family=Cyber+Chunk+Font:wght@400&display=swap');
body {
  	margin: 0; line-height: normal;
}

/* Hides scrollbar for the entire page */
html, body {
	overflow: auto;
  }
  
  ::-webkit-scrollbar {
	display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
  }
  