@tailwind base;
@tailwind components;
@tailwind utilities;
/* @font-face {
    font-family: 'Cyber Chunk';
    src: url('/fonts/CyberChunkFontRegular-0vK64.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  .text-cyber-chunk {
    font-family: 'Cyber Chunk', sans-serif;
  } */