.card{
    /* background-color: rgba(255, 255, 255, 0.2); */
    margin: 10px;
}
.image-preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.category {
    margin-top: 20px;
    font-size: 45px;
    text-align: center;
    color: rgb(251,255,0);
    font-family: 'Labrada';
    font-weight: 500;
    word-wrap: break-word;
    font-family:'Cyber Chunk Font' ;
}

@media screen and (max-width: 748px) {
    .category{
        font-size: 30px;
    }
  }
